/* flex */

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.just-con-between {
    justify-content: space-between ;
}

.align-end {
    align-items: flex-end;
}

/* button */

button {
    cursor: pointer;
}

button:active {
    color: red;
}

.button {
    height: 50px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-white {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-family: 'Open Sans', sans-serif;
}

.btn-blue {
    background-color: #3a4998;
    font-family: 'Open Sans', sans-serif;
}

.btn-black {
    background-color: transparent;
    border: 1px solid #000;
}

.btn-blue:hover {
    background-color: rgb(73, 70, 70);
}

.btn-14 {
    font-size: 14px;
    width: 160px;
}

.btn-150 {
    font-size: 16px;
    width: 150px;
    font-family: 'Open Sans';
    font-weight: 400;
}

.btn-down {
    width: 160px;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
}

.btn-vr {
    width: 180px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.btn-16 {
    font-size: 16px;
    width: 230px;
}

.btn-sbmt {
    height: 50px;
    width: 22%;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.btn-sbmt:hover {
    background-color: #3a4998;
    color: #fff;
}

/* text */

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

/* card */

.card{
    padding: 85px 35px;
    box-sizing: border-box;
}

.card-white {
    background-color: #fff;
}

.card-grey {
    background-color: #f2f2f2;
}

.card-sm {
    width:470px;
    height:430;
}

.card-bg {
    width: 490px;
    height: 420px;
}

.card-heading {
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.card-text {
    font-size: 20px;
    margin-bottom: 25px;
    letter-spacing: -1px;
    color: #b8b8b8;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: normal;
}

/* arrows */

.arrows {
    width: 40px;
    height: 40px;
    margin-top: 180px;
}

/* heading */

.heading-bold {
    font-weight: bold;
}

.heading-thin {
    font-weight: 100;
}

/* input */

.input-clr {
    background-color: #f2f2f2;
    border: transparent;
    padding-left: 5px;
}

.input-clr:focus {
    color: rgb(140, 0, 255);
}

.input-H{
    height: 30px;
}

.input-H:invalid {
    background-color: #eb7979;
}

/* selectors */

p:hover {
    font-size: 25px;
}

h1:hover {
    color: rgb(247, 0, 255);
}

h2:hover {
    color: rgb(6, 6, 190);
}


